<%= form_for(@thing) do |f| %>
  <% if @thing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thing.errors.count, "error") %> prohibited this thing from being saved:</h2>

      <ul>
      <% @thing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Owners' %><br />
    <%= select_tag "thing[owner_ids]", options_from_collection_for_select(Account.all.reverse, :id, :email, @thing.owner_ids), { :multiple => true } %>

  </div>  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "25x6" %>
  </div>
  <div class="field">
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>
  </div>
  <div class="field">
    <%= f.label 'Caretakers' %><br />
    <%= select_tag "thing[caretaker_ids]", options_from_collection_for_select(Account.all.reverse, :id, :email, @thing.caretaker_ids), { :multiple => true } %>
  </div>
  <div class="field">
    <%= f.label 'Place' %><br />
    <%= f.select :place_id, options_from_collection_for_select(Place.all, :id, :name, @thing.place_id), { :include_blank => true } %> 
    
    <a href="javascript:void(0);" onclick="$('thing_new_place').style.display = 'block';">new place</a>
    
    <div id="thing_new_place">
      <div class="field">
        <%= label_tag(:place_name, "Name") %><br />
        <%= text_field_tag(:place_name) %>
      </div>    
      <div class="field">
        <%= label_tag(:place_description, "Description") %><br />
        <%= text_field_tag(:place_description) %>
      </div>    
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
