<p id="notice"><%= notice %></p>

<h1><%= @thing.name %></h1>

<p>
  <b>Owners:</b>
  <% @thing.owners.each do |owner| %>
    <%= account_link(owner) %> 
  <% end %>
</p>

<p>
  <b>Description:</b>
  <%= @thing.description %>
</p>

<p>
  <b>Tags:</b>
  <% @thing.tags_array.each do |tag| %>
    <%= link_to tag, tag_things_path(:tag => tag) %> 
  <% end %>
</p>

<p>
  <b>Caretakers:</b>
  <% @thing.caretakers.each do |caretaker| %>
    <%= account_link(caretaker) %> 
  <% end %>
</p>

<%= link_to 'Edit', edit_thing_path(@thing) %>