<h1>Listing accounts</h1>

<%= link_to 'New Account', new_account_path %>

<br />
<br />

<table class="index">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Things</th>
    <th>Actions</th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account_link(account) %></td>
    <td><%= account.email %></td>
    <td><%= link_to account.owner_things.size, account_things_path(account) %></td>
    <td>
      <%= link_to 'Show', account %> 
      <%= link_to 'Edit', edit_account_path(account) %>
      <%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
