<p id="notice"><%= notice %></p>

<h1><%= @account.username %></h1>

<p>
  <b>Email:</b>
  <%= @account.email %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Things', account_things_path(:id => @account.id) %>
