<p id="notice"><%= notice %></p>


<h2>Account</h2>

<p>
  <b>Username:</b>
  <%= @account.username %>
</p>

<p>
  <b>Email:</b>
  <%= @account.email %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> | <%= link_to 'Show', account_path(@account) %>


<h2><%= @role.capitalize %> Things</h2>

<%= link_to 'Add thing', new_thing_path(:owner_ids => [ @account.id ]) %>
<% @roles.each do |role| %>
 | <%= link_to role.capitalize + ' Things', account_things_path(:id => @account.id, :role => role) %>
<% end %>

<br />
<br />

<table class="index">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Owners</th>
    <th>Actions</th>
  </tr>

<% @account.method(@role + '_things').call.each do |thing| %>
  <tr>
    <td><%= link_to thing.name, thing %></td>
    <td><%= thing.description %></td>
    <td>
      <% thing.owners.each do |owner| %>
        <%= account_link(owner) %>
      <% end %>
    </td>
    <td>
      <%= link_to 'Show', thing %> 
      <%= link_to 'Edit', edit_thing_path(thing) %> 
      <%= link_to 'Destroy', thing, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>