<p id="notice"><%= notice %></p>

<h1><%= @account.username %></h1>

<p>
  <b>Email:</b>
  <%= @account.email %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> | <%= link_to 'Show', account_path(@account) %>


<h2><%= @role.capitalize %> Things</h2>

<%= link_to 'Add thing', new_thing_path(:owner_ids => [ @account.id ]) %>
<% @roles.each do |role| %>
 | <%= link_to role.capitalize + ' Things', account_things_path(:id => @account.id, :role => role) %>
<% end %>

<br />
<br />

<%= render :partial => "things/table", :locals => { :things => @things } %>